

    <%= form_with model: photo, class: "gap-4 flex flex-column"  do |form| %>
    <div class="b-16">
        <%# Something went wrong: %>
        <% unless photo.errors.full_messages.empty? %>
                <div class="text-sm b-16">
                    <h2 class="head-xs text-red">Something went wrong:</h2>
                    <ul class="m-0">
                        <% photo.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
        <%end%>
        <%# FIN:Something went wrong: %>
        <div class="b-16">
            <%= form.label :title, class:"overline"%>
            <%= form.text_field :title, class:"input", placeholder: "Big montain" %>
        </div>

        <div class="b-16">
            <%= form.label :description, class:"overline"%>
            <%= form.text_area :description, class:"input", placeholder: "Photo taken on..." %>
        </div>

        <div class="b-16">
            <%= form.label :category_id, class:"overline" %>
            <%= form.collection_select :category_id, Category.order(:name), :id, :name, { selected: category.id }, class:"input" %>
        </div>
        
        <div class="b-16">
            <%= form.label :image, class:"overline text-decoration-none" %>
            <%= form.file_field :image, class:"button button--lg btn-width100 overline text-decoration-none", accept: "image/png, image/jpeg"%>
        </div>

        <div>
            <%= form.submit class:"button button--secondary btn-width100 overline"  %>
        </div>
    </div>
        <div class="b-16">
            <button class="button button--default btn-width100 overline"> <%= link_to 'Back', categories_path, class: "gray-700 text-decoration-none" %> </button>
        </div>
    <% end %>