<% @photos.each do |photo| %>
    <div>
        <% if photo.image.attached? %>
            <div>
            <%= image_tag photo.image %>
            </div>
        <% end %>
        <span><%= photo %>:</span>
        <span><%= photo.title %>:</span>
        <span><%= photo.description %></span>
        <span><%= link_to "Edit", edit_photo_path(photo) %></span>
        <span><%= link_to "Destroy", photo_path(photo), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %></span>
    </div>
<% end %>