<section class="section-sm">
    <div class="container-sm">
        <h1 class="img-title"> <%= @photo.title %> </h1>
        <p class="img-description"> <%= @photo.description %> </p>
        <p class="img-counter"> <%= "Updated at #{@photo.updated_at.strftime("%B %e, %Y")}" %> </p>
        <% if @photo.image.attached? %>
            <div>
                <%= image_tag @photo.image%>
            </div>
        <% end %>
    <%= render "comments", comment: @comment_new %>
    </div>

</section>