<%= form_with model: category do |form| %>
  <% unless category.errors.full_messages.empty? %>
    <div class="category--form__section">
      <h2 class="head-xs category--form__header-error">Something went wrong</h2>
      <ul class="m-0">
        <%category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <div class="category--form__section">
    <%= form.label :name,  class: "category--form__label" %>
    <%= form.text_field :name, placeholder: "Technology", class: "category--form__input" %>
  </div>
  <div class="category--form__section">
    <%= form.label :description, class: "category--form__label" %>
    <%= form.text_area :description, placeholder: "Exploring our complicated relationship with technology...", class: "category--form__textarea" %>
  </div>
  <div class="category--form__section">
    <%= form.label :cover, class: "category--form__label" %>
    <%= form.file_field :cover, accept: "image/png, image/jpeg" %>
  </div>
  <div class="category--form__section">
    <%= form.submit class: "button--create category--form__button" %>
  </div>
  <button class="button--default category--form__button"> <%= link_to 'Back', url_for(:back), class: "text-decoration-none text-stone" %> </button>
<% end %>